:root{
	--bgColor: #131d2c;
	--fgColor: #232d3c;
	--linkColor: #b6b6b6;
	--textColor: #f2f2f2;
}

a{
	color: var(--linkColor);
	text-decoration: none;
}

a:hover{
	color: var(--textColor);
}

body{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-attachment: fixed;
	background-color: var(--linkColor);
	background-image: url("../src/placeholder.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 20pt;
}

button{
	background-color: var(--bgColor);
	border: 0px;
	border-radius: .5em;
	color: var(--linkColor);
	font: inherit;
	font-size: inherit;
}

button:hover{
	color: var(--textColor);
	font: inherit;
	font-size: inherit;
}

code{
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

footer{
	background-color: var(--fgColor);
	bottom: 0;
	left: 0;
	padding: .25em;
	position: fixed;
	width: 100%;
	z-index: 100;
}

hr{
	color: var(--textColor);
	margin: 0;
}

iframe{
	height: 15em;
	overflow: scroll;
	width: 100%;
}

li{
	color: var(--linkColor);
	display: inline-block;
	padding-right: 1em;
}

li:hover{
	color: var(--textColor);
	cursor: pointer;
}

nav{
	background-color: var(--bgColor);
	color: var(--textColor);
	font-size: 1.5em;
	height: calc(50% - 20px);
	left: 0;
	opacity: .95;
	overflow-y: auto;
	position: fixed;
	top: 50%;
	width: 100%;
	z-index: 1;
}

nav div{
	margin: auto;
	max-width: calc(100% - 40px);
	min-width: 200px;
	padding: 20px;
	width: 900px;
}

nav ul{
	background-color: var(--bgColor);
	padding-bottom: 20px;
	padding-top: 20px;
	position: sticky;
	top: 0;
}

ul{
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

.SocialMedia a{
	display: block;
	overflow-y: auto;
	text-align: center;
}

.SocialMedia img{
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	overflow: hidden;
	width: 50%;
}

.header{
	background-color: var(--fgColor);
	border-bottom: 1px solid var(--textColor);
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 20px;
	position: sticky;
	text-align: center;
	top: 0;
}

.header a{
	position: absolute;
	right: 0;
	top: 0;
}

.popup{
	background-color: var(--fgColor);
	border-radius: .5em;
	color: var(--textColor);
	left: 50%;
	margin: auto;
	max-height: 100%;
	max-width: calc(100% - 40px);
	min-width: 200px;
	overflow: auto;
	padding: 20px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	z-index: 2;
}

#tall{
	height: 100%;
	top: 0%;
}
