:root{
	--bgColor: #131d2c;
	--fgColor: #232d3c;
	--linkColor: #b6b6b6;
	--textColor: #f2f2f2;
	--pageColor: #f2f2f2;
}

a{
	color: var(--linkColor);
	text-decoration: none;
}

a:hover{
	color: var(--textColor);
}

body{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: var(--textColor);
	background-image: url(../src/icon/orsmash.svg);
	background-attachment: fixed;
  	background-size: 100% 100%;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 16pt;
}

button{
	background-color: var(--bgColor);
	border: 0px;
	border-radius: .5em;
	color: var(--linkColor);
	font: inherit;
	font-size: inherit;
}

button:hover{
	color: var(--textColor);
	font: inherit;
	font-size: inherit;
}

code{
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

footer{
	background-color: var(--fgColor);
	bottom: 0;
	left: 0;
	padding: .25em;
	position: fixed;
	width: 100%;
	z-index: 100;
}

h2{
  font-size: 1em;
  margin-bottom: -1em;
}

hr{
	border: none;
	border-top: 1px solid var(--textColor);
	height: 0px;
	margin: 0;
	padding: 0;
}

iframe{
	height: 15em;
	overflow: scroll;
	width: 100%;
}

li{
	color: var(--linkColor);
	display: inline-block;
	padding-left: .5em;
	padding-right: .5em;
}

li:hover{
	color: var(--textColor);
	cursor: pointer;
}

nav{
	color: var(--textColor);
	left: 0;
	opacity: .95;
}

nav ul{
	background-color: var(--fgColor);
	font-size: 1.5em;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	position: sticky;
  	/* z-index: 1; */
	top: 0;
}

/* Specifically for Nav Bar; If changed, make sure to change this for the nav bar specifically */
ul li a{
	color: var(--textColor);
	font-family: 'Big Shoulders Text', cursive;
	font-size: 24pt;
}

ul{
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Bootstrap Jumbotron */
#jumbotron-home{
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
}
  
/* Bootstrap Carousel */
.carousel{
	height:450px;
	width: 720px;
	background-color: black;
	position: center;
}

.carousel-caption{
	right: 5%;
    text-align: right;
    background-color: black;
    max-width: 300px;
    left: auto;
    padding:5px;
}

#fallPR2020{
	height: 400px;
}
.plus{
	mask-image: url(icon/plus.svg);
}

.minus{
	mask-image: url(icon/minus.svg);
}

#mobile{
	mask-image: url(icon/mobile.svg);
}

#desktop{
	mask-image: url(icon/desktop.svg);
}

.SocialMedia{
	margin-top: 25px;
	overflow-y: auto;
	text-align: center;
}

.SocialMedia img{
	background-color: var(--bgColor);
	border-radius: 50%;
	display: block;
	margin: auto;
	overflow: hidden;
	width: 30%;
}

.icon{
	background-color: var(--linkColor);
	height: 1em;
	mask-size: 100% 100%;
	width: 1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: .1em;
	margin-right: .1em;
}

.icon:hover{
	background-color: var(--textColor);
}

/* Card imported from bootstrap */
.card{
	margin: 0 auto; /* Added */
	float: none; /* Added */
}

#getting-started-item{
	background-color: rgba(242, 242, 242, 0.8);
	width: inherit;

}
#discord{
	mask-image: url(icon/discord.svg);
}

#discord-link-img{
	max-width: 60px;
	max-height: 60px;
}

/*#palette{
	mask-image: url(icon/palette.svg);
}*/

#events-div{
	background: rgba(242, 242, 242, 1.0);
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
}

#facebook{
	mask-image: url(icon/facebook.svg);
}

#facebook-link-img{
	width: 55px;
	height: 55px;
}

#getting-started-div{
	
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
}
#github{
	mask-image: url(icon/github.svg);
}

/*#home{
	mask-image: url(icon/home.svg);
}*/

#home{
  text-align: center;
  background-color: var(--bgColor);
  background-size: 0px;
  opacity: .90;
}

#header{
	background-color: var(--fgColor);
	border-bottom: 1px solid var(--textColor);
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 20px;
	position: sticky;
	text-align: center;
	top: -20px;
}

#header a{
	position: absolute;
	right: 0;
	top: 0;
}

#invisible{
	display: none;
}

#logo{
	background-color: var(--textColor);
	height: 100%;
	left: 0;
	background-image: url(./icon/orsmash.svg);
	background-attachment: fixed;
  	background-size: 100% 100%;
	position: fixed;
	opacity: .9;
	top: 0;
	width: 100%;
	z-index: 0;
}

#logo-nav{
	max-width: 80px;
	opacity: 1.0;
	padding-left: 0px;
}

#popup{
	background-color: var(--fgColor);
	border-radius: .5em;
	color: var(--textColor);
	left: 50%;
	margin: auto;
	max-height: calc(100% - 150px);
	max-width: calc(100% - 40px);
	min-width: 200px;
	overflow: auto;
	padding: 20px;
	position: fixed;
	top: 20px;
	transform: translateX(-50%);
	width: 500px;
	z-index: 2;
}

#rankings-div{
	background-color: var(--pageColor);
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
}

#tall{
	height: 100%;
	top: 0%;
}

#twitter{
	mask-image: url(icon/twitter.svg);
}

.dead{
  display: none;
}

#generic{
	mask-image: url(icon/www.svg);
}

#twitch{
	mask-image: url(icon/twitch.svg);
}
